

<div class="container">
  <hr>
    <div class="col-lg-5 f1">
    <h5 class="head1"> write us for any query , we'll revert within 24 hours.</h5>
      <form>
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input id="email" type="text" class="form-control" name="email" placeholder="Email">
          </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">Text</span>
      <input id="msg" type="text" class="form-control" name="msg" placeholder="Additional Info">
    </div>
    <br>
    <button class="btn btn-primary"> send</button>
  </form>

  </div>
 <div class="col-lg-2"></div>
  
  <div class="col-lg-5 f2">
    <form>
    <h5 class="head1">get our monthly newsletter and know about the special offers and discount!</h5>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="email" type="text" class="form-control" name="email" placeholder="Email">
    </div>
    <br>
    <button class="btn btn-primary">Sign up
    </button>
  </form>
  </div>

</div>
<footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="">TripTime.com</a>
    </div>
  
  
  </footer>