
 <div class="container">
     <br>
     <br>
    <div class="row">

    <div class="col-lg-7"
    class="content container" >
    <h3 class="f-head">going places with triptime</h3>
    <p class="f-content">visit some extraordinary places and have wonderful experiences.</p>
    </div> 
    <div class="col-lg-5">
        <img src="https://images.pexels.com/photos/185933/pexels-photo-185933.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" 
        alt="an image"
        class="img-features img-rounded">
    </div>    
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-5">
            <img src="https://images.pexels.com/photos/4019409/pexels-photo-4019409.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="an image"
             class="img-features img-rounded">
        </div> 
        <div class="col-md-12 col-lg-7"
        class="content container">
        <h3 class="f-head">safe travellings</h3>
        <p class="f-content"> the trips are made safe by having all precautions taken.</p>
        </div>     
        </div>
    <div class="row">
         <div class="col-md-12 col-lg-7"
         class="content container">
            <h3 class="f-head">guided tours</h3>
            <p class="f-content">learn about the ethnicity of the place with an expert.</p>
            </div>  
            <div class="col-md-12 col-lg-5">
                <img src="https://images.pexels.com/photos/3782162/pexels-photo-3782162.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" 
                alt="an image"
                class="img-features img-rounded">
            </div>    
            </div>
 </div>