.image-1{
   /* width : 1200px;
   height : 500px; */
   max-width: 100%;

}
.card-image-top{
    height : 300px;
    width : 300px;
    margin-left : 15px;
}

.col-lg-4{
    margin : 10px 0px;
}
.card1{
    margin-top: 100px;
    
}

